
<div class="container">
  <div class="row offset-2 mt-5 mb-3">
    <h3>商品詳細</h3>
  </div>


  <div class="row">
    <div class="col-5">
      <div class="row justify-content-end mr-3">
        <%= image_tag @item.get_image(400, 400) %>
      </div>
    </div>

    <div class="col-7">
      <div class="row mt-2 mb-2">
        <div class="col-lg-2"><strong>商品名</strong></div>
        <div class="col-lg-10"><%= @item.name %></div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-2"><strong>商品説明</strong></div>
        <div class="col-lg-10"><%= @item.description %></div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-2"><strong>ジャンル</strong></div>
        <div class="col-lg-10"><%= @item.genre.name %></div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-2"><strong>価格</strong></div>
        <div class="col-lg-10">¥ <%= (@item.price * 1.1).floor.to_s(:delimited) %></div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">¥ <%= @item.price.to_s(:delimited) %>(税抜き)</div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-2"><strong>販売ステータス</strong></div>
        <div class="col-lg-10">
          <% if @item.is_active == true %>
            <span class="text-success">販売中</span>
          <% else %>
            <span class="text-danger">販売停止</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-lg-4">
      <%= link_to "商品編集", edit_admin_item_path(@item),class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <%= link_to "戻る", admin_items_path %>
  </div>
</div>

