<containar>
  <div class="row justify-content-center mt-5">
    <h3 class="mini-title">注文履歴詳細</h3>
  </div>

<div class="row justify-content-center mb-5">
  <div class="col-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>購入者</th>
          <td><%= link_to @customer.full_name, admin_customer_path(@customer) %></td>
          </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <p><%= "〒#{@order.postcode} #{@order.address}" %><br>
              <%= @order.address_name %>
            </p>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.pay_way_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <%= f.select :status, Order.statuses.keys.map { |k| [t("enums.order.status.#{k}"), k] } %>
              <%= f.submit '更新', class: "btn btn-success ml-4"%>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 d-flex align-items-end ml-3">
    <table class="table table-bordered">
      <thead class="thead-dark text-center">
        <th>商品合計</th>
        <th>送料</th>
        <th>請求金額</th>
      </thead>
      <tbody class="text-right">
        <td>¥ <%= (@order.total_pay - @order.postage).to_s(:delimited) %></td>
        <td>¥ <%= @order.postage.to_s(:delimited) %></td>
        <td>¥ <%= @order.total_pay.to_s(:delimited) %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <table class="table table-bordered table-background">
      <thead class="thead-dark text-center">
        <tr>
          <th style="width: 30%" class>商品</th>
          <th style="width: 20%">単価（税込）</th>
          <th style="width: 15%">数量</th>
          <th style="width: 15%">小計</th>
          <th style="width: 20%">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.all.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td class="text-right">¥ <%= (order_detail.item.price).to_s(:delimited) %>(税込み)</td>
            <td class="text-right"><%= order_detail.quantity %> 個</td>
            <td class="text-right">¥ <%= (order_detail.item.price*order_detail.quantity).to_s(:delimited) %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <%= f.select :production_status, OrderDetail.production_statuses.keys.map { |k| [t("enums.order_detail.production_status.#{k}"), k] } %>
                <%= f.submit '更新', class: "btn btn-success ml-2" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<containar>
