<div class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <h3 class="mini-title">ジャンル編集</h3>
  </div>
  <%= render 'layouts/errors', obj: @genre %>

  <div class="text-right">
    <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
      <div class="form-group row ml-lg-5">
        <%= f.label :name,"ジャンル", class: "col-lg-3" %>
        <%= f.text_field :name, class: "form-control col-lg-3" %>
        <div class="col-lg-3">
          <%= f.submit '編集登録',class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center mt-5">
    <%= link_to "戻る", admin_genres_path %></div>
  </div>
</div>