<h3 class="mini-title">新規会員登録</h3>
<%= render "public/shared/error_messages", resource: resource %>
<div class="container mt-2 ml-5">
  <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
    <div class="form-group row">
      <%= f.label :名前 %>
      <div class="col-12">
        <div class="row mb-2">
          <%= f.label :（姓）, class: "col-3" %>
          <%= f.text_field :last_name, autofocus: true, class: "form-control col-lg-5" %>
        </div>
        <div class="row">
          <%= f.label :（名）, class: "col-3" %>
      	  <%= f.text_field :first_name, class: "form-control col-lg-5" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :フリガナ %>
      <div class="col-12">
        <div class="row mb-2">
          <%= f.label :（セイ）, class: "col-3" %>
          <%= f.text_field :last_name_kana, class: "form-control col-lg-5" %>
        </div>
        <div class="row mb-2">
          <%= f.label :（メイ）, class: "col-3" %>
      	  <%= f.text_field :first_name_kana, class: "form-control col-lg-5" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :nick_name, 'レビュー投稿時の表示名', class: "col-3" %>
      <%= f.text_field :nick_name, class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :email, 'メールアドレス', class: "col-3" %>
      <%= f.text_field :email, autocomplete: "email", class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :postcode, '郵便番号（ハイフンなし）', class: "col-3" %>
      <%= f.text_field :postcode, class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :address, '住所', class: "col-3" %>
      <%= f.text_field :address, class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :phone_number, '電話番号', class: "col-3" %>
      <%= f.text_field :phone_number, class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :password,'パスワード（6文字以上）', class: "col-3" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, 'パスワード（確認用）', class: "col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-lg-5" %>
    </div>

    <div class="actions form-group row">
      <div class="col-3"></div>
      <%= button_tag type: 'submit', class: 'btn btn-sm btn-success col-lg-5 text-center',style: "color:white;" do %>
        新規登録
      <% end %>
    </div>
  <% end %>
</div>

<div class="field mx-auto text-center mt-5">
  既に登録済みの方はこちらから <%= render "public/shared/links" %> 
</div>