<div class="row">
  <h3 class="mb-5 mt-3 mini-title">注文情報入力</h3>
</div>

<div class="px-5 text-background">
  <%= form_with model:@order, url: "/orders/confirm", method: :post do |f| %>
    <h4>支払方法</h4>
    <div class="field form-group pl-4">
      <%= f.radio_button :pay_way, Order.pay_ways.key(0), checked: true %>
      <%= f.label :pay_way, Order.pay_ways_i18n[:credit_card] %><br>

      <%= f.radio_button :pay_way, Order.pay_ways.key(1) %>
      <%= f.label :pay_way, Order.pay_ways_i18n[:transfer] %>
    </div>
    <h4>お届け先</h4>
    <div class="field form-group pl-4">
      <%= f.radio_button :select_address, 0, checked: true %><%= f.label :ご自身の住所 %>
      <div class="pl-4 mb-2">
        <%= current_customer.full_address %><br>
        <%= current_customer.full_name %>
      </div>

      <%= f.radio_button :select_address, 1 %><%= f.label :登録済みの住所から選択 %>
      <div class="pl-4 mb-2">
        <%= f.select :delivery_id, options_from_collection_for_select(current_customer.deliveries.all, :id, :address_display) %>
      </div>

      <%= f.radio_button :select_address, 2 %><%= f.label :新しいお届け先 %>
      <div class="pl-4 row">
        <div class="col-12">
          <div class="row mb-2">
            <%= f.label :郵便番号（ハイフンなし）, class: "col-4" %>
            <%= f.text_field :postcode, class: "col-6" %>
          </div>
          <div class="row mb-2">
            <%= f.label :住所, class: "col-4" %>
        	  <%= f.text_area :address, class: "col-6" %>
          </div>
          <div class="row mb-2">
            <%= f.label :宛名, class: "col-4" %>
        	  <%= f.text_field :address_name, class: "col-6" %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions form-group row mt-5">
      <%= button_tag type: 'submit', class: 'btn col-4 offset-5 btn-success btn-lg' do %>
        <i class="fas fa-shopping-cart"></i> 確認画面へ進む
      <% end %>
      <div class="col-5"></div>
    </div>
  <% end %>
</div>