<div class="container">
  <div class="row">
    <div class="col-11">
      <h3>注文履歴詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <strong>注文情報</strong>
      <table class="table table-bordered table-background">
        <thead class="thead-dark">
          <th class="text-center">注文日</th>
          <th class="text-center">配送先</th>
          <th class="text-center">支払い方法</th>
          <th class="text-center">ステータス</th>
        </thead>
        <tbody class="bg-light">
          <tr>
            <td class="text-center"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            <td class="text-center">
              <p><%= @order.postcode %><br>
                <%= @order.address %><br>
                <%= @order.address_name %>
              </p>
            </td class="text-center">
            <td class="text-center"><%= @order.pay_way_i18n %></td>
            <td class="text-center"><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <strong>請求情報</strong>
      <table class="table table-bordered table-background">
        <thead class="thead-dark">
          <th class="text-center">商品合計</th>
          <th class="text-center">送料</th>
          <th class="text-center">ご請求額</th>
        </thead>
        <tbody class="bg-light">
          <tr style="text-align:right;">
            <td>¥ <%= (@order.total_pay - @order.postage).to_s(:delimited) %></td>
            <td>¥ <%= @order.postage.to_s(:delimited) %></td>
            <td>¥ <%= @order.total_pay.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <strong>注文内容</strong>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="table-background">
            <th class="text-center">商品</th>
            <th class="text-center">単価（税込）</th>
            <th class="text-center">個数</th>
            <th class="text-center">小計</th>
          </tr>
        </thead>
        <tbody class="bg-light"> 
          <% @order.order_details.all.each do |order_detail| %>
            <tr class="table-background">
              <td><%= order_detail.item.name %></td>
              <td style="text-align:right;">¥ <%= ((order_detail.item.price * 1.1).floor ).to_s(:delimited) %></td>
              <td style="text-align:right;"><%= order_detail.quantity %>　個</td>
              <td style="text-align:right;">¥ <%= ((order_detail.item.price*order_detail.quantity * 1.1).floor).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
